client/__pycache__
server/__pycache__
test

blender/server_blend_files
blender/worker_blend_files
blender/blender_output
blender/commander_output

async io/server_blend_files
async io/worker_blend_files
async io/blender_output
async io/commander_output





# Logs
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*
web/node_modules
web/dist
web/dist-ssr
web/*.local
web/.vscode/*
web/!.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?


web_backend/node_modules